
.container{
    margin: 0.25em;
}

.volume{
    height: 100%;
    width: 1em;
    background: darkgrey;
    display: flex;
    align-items: end;
}
.volume_inner{
    height: 5px;
    width: 100%;
}

.icon{
    margin-top: 0.2em
}